html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Generic result box */
.zone-result {
  color: #fff;
  font-weight: 600;
  border-radius: .5rem;
  padding: 1rem;
}

/* Zone-specific backgrounds */
.zone-result.robust {
  background: #006400;
}

.zone-result.stable {
  background: #90ee90;
  color: #000; 
}

.zone-result.reactive {
  background: #f8fb60;
  color: #000;
}

.zone-result.overloaded {
  background: #dc3545;
}